@-webkit-keyframes descer_bandeira_inferior {
  from {
    top: -61%;
  }

  to {
    top: 61%;
  }
}

@-webkit-keyframes descer_bandeira_superior {
  from {
    top: -68%;
  }

  to {
    top: 54%;
  }
}

@-webkit-keyframes aparecer_ano {
  0% { opacity: 0;}
  25%  { opacity: 0;}
  50%  { opacity: 0;}
  75%  { opacity: 0;}
  100%   { opacity: 1;}
}

.header .bandeira-inferior {
  -webkit-animation-name: descer_bandeira_inferior;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
}

.header .bandeira-superior {
  -webkit-animation-name: descer_bandeira_superior;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
}

.header .ano {
  -webkit-animation-name: aparecer_ano;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes ponteiro_de_minutos
{
  0% {left: 44%;top: 53%;-webkit-transform: rotate(0deg);}
  12.5% {left: 40%;top: 60%;-webkit-transform: rotate(45deg);}
  25%  {left: 27%;top: 62%;-webkit-transform: rotate(90deg);}
  37.5%  {left: 14%;top: 60%;-webkit-transform: rotate(135deg);}
  50%  {left: 10%;top: 53%;-webkit-transform: rotate(180deg);}
  62.5%  {left: 14%;top: 46%;-webkit-transform: rotate(225deg);}
  75%  {left: 27%;top: 44%;-webkit-transform: rotate(270deg);}
  87.5%  {left: 40%;top: 46%;-webkit-transform: rotate(315deg);}
  100%   {left: 44%;top: 53%;-webkit-transform: rotate(360deg);}
}

.horas-programacao .horas .ponteiros:before {
  -webkit-animation-name: ponteiro_de_minutos;
  -webkit-animation-duration: .8s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes ponteiro_de_horas
{
  0% {left: 42%;top: 53%;-webkit-transform: rotate(0deg);}
  12.5% {left: 41%;top: 58%;-webkit-transform: rotate(45deg);}
  25%  {left: 32%;top: 60%;-webkit-transform: rotate(90deg);}
  37.5%  {left: 24%;top: 58%;-webkit-transform: rotate(135deg);}
  50%  {left: 20%;top: 53%;-webkit-transform: rotate(180deg);}
  62.5%  {left: 24%;top: 49.5%;-webkit-transform: rotate(225deg);}
  75%  {left: 32%;top: 45%;-webkit-transform: rotate(270deg);}
  87.5%  {left: 40%;top: 49%;-webkit-transform: rotate(315deg);}
  100%   {left: 43%;top: 53%;-webkit-transform: rotate(360deg);}
}

.horas-programacao .horas .ponteiros:after {
  -webkit-animation-name: ponteiro_de_horas;
  -webkit-animation-duration: 9.6s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pontilhado-publico
{
  0% { width: 0%;}
  25%  { width: 5%;}
  50%  { width: 10%;}
  75%  { width: 15%;}
  100%   { width: 20%;}
}

.terceira-sessao .projetos .pontilhado-publico {
  -webkit-animation-name: pontilhado-publico;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes do-github
{
  0% { height: 0%; display: none;}
  25%  { height: 9%;}
  50%  { height: 18%;}
  75%  { height: 27%;}
  100%   { height: 35%;}
}

.terceira-sessao .projetos .do-github {
  -webkit-animation-name: do-github;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes para-o-bitbucket-h
{
  0% { width: 0%;}
  25%  { width: 11%;}
  50%  { width: 22%;}
  75%  { width: 33%;}
  100%   { width: 45%; display: block;}
}

.terceira-sessao .projetos .para-o-bitbucket-h {
  -webkit-animation-name: para-o-bitbucket-h;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes para-o-bitbucket-v
{
  0% { height: 0%;}
  25%  { height: 11%;}
  50%  { height: 22%;}
  75%  { height: 33%;}
  100%   { height: 45%; display: block;}
}

.terceira-sessao .projetos .para-o-bitbucket-v {
  -webkit-animation-name: para-o-bitbucket-v;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes pontilhado-privado
{
  0% { width: 0%;}
  25%  { width: 5%;}
  50%  { width: 10%;}
  75%  { width: 15%;}
  100%   { width: 20%; display: block;}
}

.terceira-sessao .projetos .pontilhado-privado {
  -webkit-animation-name: pontilhado-privado;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes pontilhado-web
{
  0% { height: 0%;}
  25%  { height: 30%;}
  50%  { height: 60%;}
  75%  { height: 90%;}
  100%   { height: 120%; display: block;}
}

@-webkit-keyframes pontilhado-desktop
{
  0% { height: 0%;}
  25%  { height: 10%;}
  50%  { height: 20%;}
  75%  { height: 30%;}
  100%   { height: 40%; display: block;}
}

.terceira-sessao .tecnologias .sistemas .sistemas-web .pontilhado-web {
  -webkit-animation-name: pontilhado-web;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
}

.terceira-sessao .tecnologias .sistemas .sistemas-desktop .pontilhado-desktop {
  -webkit-animation-name: pontilhado-desktop;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
}