@-webkit-keyframes descer_bandeira_inferior {
  from {
    top: -61%;
  }

  to {
    top: 61%;
  }
}

@-webkit-keyframes descer_bandeira_superior {
  from {
    top: -68%;
  }

  to {
    top: 54%;
  }
}

@-webkit-keyframes aparecer_ano {
  0% { opacity: 0;}
  25%  { opacity: 0;}
  50%  { opacity: 0;}
  75%  { opacity: 0;}
  100%   { opacity: 1;}
}

.header .bandeira-inferior {
  -webkit-animation: descer_bandeira_inferior 2s linear;
}

.header .bandeira-superior {
  -webkit-animation: descer_bandeira_superior 2s linear;
}

.header .ano {
  -webkit-animation: aparecer_ano 3s linear;
}

@-webkit-keyframes ponteiro_de_minutos
{
  0% {left: 44%;top: 53%;-webkit-transform: rotate(0deg);}
  12.5% {left: 40%;top: 60%;-webkit-transform: rotate(45deg);}
  25%  {left: 27%;top: 62%;-webkit-transform: rotate(90deg);}
  37.5%  {left: 14%;top: 60%;-webkit-transform: rotate(135deg);}
  50%  {left: 10%;top: 53%;-webkit-transform: rotate(180deg);}
  62.5%  {left: 14%;top: 46%;-webkit-transform: rotate(225deg);}
  75%  {left: 27%;top: 44%;-webkit-transform: rotate(270deg);}
  87.5%  {left: 40%;top: 46%;-webkit-transform: rotate(315deg);}
  100%   {left: 44%;top: 53%;-webkit-transform: rotate(360deg);}
}

.horas-programacao .horas .ponteiros:before,
.terceira-sessao .hackathons .ponteiros:before {
  -webkit-animation: ponteiro_de_minutos .8s linear infinite;
}

@-webkit-keyframes ponteiro_de_horas {
  0% {left: 42%;top: 53%;-webkit-transform: rotate(0deg);}
  12.5% {left: 41%;top: 58%;-webkit-transform: rotate(45deg);}
  25%  {left: 32%;top: 60%;-webkit-transform: rotate(90deg);}
  37.5%  {left: 24%;top: 58%;-webkit-transform: rotate(135deg);}
  50%  {left: 20%;top: 53%;-webkit-transform: rotate(180deg);}
  62.5%  {left: 24%;top: 49.5%;-webkit-transform: rotate(225deg);}
  75%  {left: 32%;top: 45%;-webkit-transform: rotate(270deg);}
  87.5%  {left: 40%;top: 49%;-webkit-transform: rotate(315deg);}
  100%   {left: 43%;top: 53%;-webkit-transform: rotate(360deg);}
}

.horas-programacao .horas .ponteiros:after,
.terceira-sessao .hackathons .ponteiros:after {
  -webkit-animation: ponteiro_de_horas 9.6s linear infinite;
}

@-webkit-keyframes pontilhado-publico {
  0% { width: 0%;}
  25%  { width: 5%;}
  50%  { width: 10%;}
  75%  { width: 15%;}
  100%   { width: 20%;}
}

.terceira-sessao .projetos .pontilhado-publico {
  -webkit-animation: pontilhado-publico 1.5s linear;
}

@-webkit-keyframes do-github {
  0% { height: 0%; display: none;}
  25%  { height: 9%;}
  50%  { height: 18%;}
  75%  { height: 27%;}
  100%   { height: 35%;}
}

.terceira-sessao .projetos .do-github {
  -webkit-animation: do-github 1.5s linear;
}

@-webkit-keyframes para-o-bitbucket-h {
  0% { width: 0%;}
  25%  { width: 11%;}
  50%  { width: 22%;}
  75%  { width: 33%;}
  100%   { width: 45%; display: block;}
}

.terceira-sessao .projetos .para-o-bitbucket-h {
  -webkit-animation: para-o-bitbucket-h 1.5s linear;
}

@-webkit-keyframes para-o-bitbucket-v {
  0% { height: 0%;}
  25%  { height: 11%;}
  50%  { height: 22%;}
  75%  { height: 33%;}
  100%   { height: 45%; display: block;}
}

.terceira-sessao .projetos .para-o-bitbucket-v {
  -webkit-animation: para-o-bitbucket-v 1.5s linear;
}

@-webkit-keyframes pontilhado-privado {
  0% { width: 0%;}
  25%  { width: 5%;}
  50%  { width: 10%;}
  75%  { width: 15%;}
  100%   { width: 20%; display: block;}
}

.terceira-sessao .projetos .pontilhado-privado {
  -webkit-animation: pontilhado-privado 1.5s linear;
}

@-webkit-keyframes pontilhado-web {
  0% { height: 0%;}
  25%  { height: 30%;}
  50%  { height: 60%;}
  75%  { height: 90%;}
  100%   { height: 120%; display: block;}
}

@-webkit-keyframes pontilhado-desktop {
  0% { height: 0%;}
  25%  { height: 10%;}
  50%  { height: 20%;}
  75%  { height: 30%;}
  100%   { height: 40%; display: block;}
}

.terceira-sessao .tecnologias .sistemas .sistemas-web .pontilhado-web {
  -webkit-animation: pontilhado-web .5s linear;
}

.terceira-sessao .tecnologias .sistemas .sistemas-desktop .pontilhado-desktop {
  -webkit-animation: pontilhado-desktop 1.5s linear;
}

@-webkit-keyframes pontilhado-hackathons {
  0% { width: 0%;}
  25%  { width: 4%;}
  50%  { width: 8%;}
  75%  { width: 12%;}
  100%   { width: 17.5%; display: block;}
}

.terceira-sessao .hackathons .maratona .pontilhado-esquerda,
.terceira-sessao .hackathons .maratona .pontilhado-direita {
  -webkit-animation: pontilhado-hackathons 1s linear;
}

@-webkit-keyframes garra-esquerda {
  0% { left: -15%;}
  10%  { left: -5%;}
  20%  { left: 5%;}
  30%  { left: -5%;}
  40%  { left: -15%;}
  50%  { left: -15%;}
  60%  { left: -15%;}
  70%  { left: -15%;}
  80%  { left: -15%;}
  90%  { left: -15%;}
  95%  { left: -15%;}
  100%   { left: -15%;}
}

.terceira-sessao .hackathons .garra-esquerda {
  -webkit-animation: garra-esquerda 5s linear 3s infinite;
}

@-webkit-keyframes armadura {
  0% { top: 18%;}
  10% { top: 28%;}
  20%  { top: 38%; right: 150%;}
  30%  { top: 38%; right: 150%;}
  40%  { top: 38%; right: 350%;}
  50%  { top: 38%; right: 550%;}
  60%  { top: 38%; right: 750%;}
  70%  { top: 38%; right: 950%;}
  80%  { top: 38%; right: 950%;}
  90%  { top: 38%; right: 1100%;}
  95%  { top: 38%; right: 1200%;}
  100%   { top: 38%; right: 1300%;}
}

.terceira-sessao .hackathons .garra-direita .armadura {
  -webkit-animation: armadura 5s linear infinite;
}

@-webkit-keyframes braco-v {
  0% { height: 9%;}
  10%  { height: 19%;}
  20%  { height: 29%;}
  30%  { height: 19%;}
  40%  { height: 9%;}
  50%  { height: 9%;}
  60%  { height: 9%;}
  70%  { height: 9%;}
  80%  { height: 9%;}
  90%  { height: 9%;}
  95%  { height: 9%;}
  100%   { height: 9%;}
}

.terceira-sessao .hackathons .garra-direita .braco-v {
  -webkit-animation: braco-v 5s linear infinite;
}

@-webkit-keyframes garra {
  0% { top: 10%;}
  10% { top: 20%;}
  20%  { top: 30%;}
  30%  { top: 20%;}
  40%  { top: 10%;}
  50%  { top: 10%;}
  60%  { top: 10%;}
  70%  { top: 10%;}
  80%  { top: 10%;}
  90%  { top: 10%;}
  95%  { top: 10%;}
  100%   { top: 10%;}
}

.terceira-sessao .hackathons .garra-direita .garra {
  -webkit-animation: garra 5s linear infinite;
}

@-webkit-keyframes girar-estrelas {
  0% { -webkit-transform: rotate(0deg);}
  25%  { -webkit-transform: rotate(90deg);}
  50%  { -webkit-transform: rotate(180deg);}
  75%  { -webkit-transform: rotate(270deg);}
  100%   { -webkit-transform: rotate(360deg);}
}

.terceira-sessao .premios-hackathons .estrela img {
  -webkit-animation: girar-estrelas 5s linear infinite;
}

@-webkit-keyframes aumentar-porcentagem {
  0% { font-size: 1em;}
  25%  { font-size: 3em}
  50%  { font-size: 5em;}
  75%  { font-size: 7em;}
  100%   { font-size: 9em;}
}

.quarta-sessao .designa-cresceu .quanto-cresceu .porcentagem {
  -webkit-animation: aumentar-porcentagem 1s linear;
}

@-webkit-keyframes primeira-ligacao {
  0% { width: 0; height: 0;}
  25%  { width: 0; height: 400%;}
  50%  { width: 0; height: 800%;}
  75%  { width: 15%; height: 800%;}
  100%   { width: 30%; height: 800%;}
}

.quarta-sessao .designa-cresceu .linhas .primeira-ligacao {
  -webkit-animation: primeira-ligacao 2s linear;
}

@-webkit-keyframes segunda-ligacao {
  0% { width: 0; height: 0;}
  25%  { width: 0; height: 250%;}
  50%  { width: 0; height: 500%;}
  75%  { width: 125%; height: 500%;}
  100%   { width: 250%; height: 500%;}
}

.quarta-sessao .designa-cresceu .linhas .segunda-ligacao {
  -webkit-animation: segunda-ligacao 2s linear;
}

@-webkit-keyframes terceira-linha {
  0% { width: 0; height: 0;}
  25%  { width: 0; height: 225%;}
  50%  { width: 0; height: 450%;}
  75%  { width: 14%; height: 450%;}
  100%   { width: 28%; height: 450%;}
}

.quarta-sessao .designa-cresceu .linhas .terceira-linha {
  -webkit-animation: terceira-linha 1.5s linear;
}

@-webkit-keyframes aumentar-boneco-cafe {
  0% { height: 0;}
  25%  { height: 20%;}
  50%  { height: 40%;}
  75%  { height: 60%;}
  100%   { height: auto;}
}

.quarta-sessao .quanto-consumiu .arnaldo .boneco-cafe {
  -webkit-animation: aumentar-boneco-cafe 1.5s linear;
}

@-webkit-keyframes andar-carro {
  0% { top: 0;}
  100%   { top: -.25em;}
}

.andamos .andamos-imagem img {
  -webkit-animation: andar-carro .5s linear infinite;
}

@-webkit-keyframes andar-carro-menor {
  0% { top: 80%; left: 40%; -webkit-transform: rotate(-45deg); opacity: 1;}
  20%  { top: 60%; left: 35%; -webkit-transform: rotate(-20deg); opacity: 1;}
  40%  { top: 40%; left: 36%; -webkit-transform: rotate(-8deg); opacity: 1;}
  60%  { top: 20%; left: 40%; -webkit-transform: rotate(3deg); opacity: 1;}
  80%   { top: 0; left: 50%; -webkit-transform: rotate(25deg); opacity: 0;}
  100%   { top: 80%; left: 40%; -webkit-transform: rotate(-45deg); opacity: 0;}
}

.quarta-sessao .quanto-andou .mesma-coisa .mesma-coisa-imagem .carro-menor {
  -webkit-animation: andar-carro-menor 3s linear infinite;
}

@-webkit-keyframes piscar-texto {
  0% { opacity: 1;}
  12.5%  { opacity: 0;}
  25%  { opacity: 1;}
  37.5%  { opacity: 0;}
  50%  { opacity: 1;}
  62.5%  { opacity: 0;}
  75%  { opacity: 1;}
  87.5%  { opacity: 0;}
  100%   { opacity: 1;}
}

.quinta-sessao .express-projects .projects p span {
  -webkit-animation: piscar-texto .75s ease-in-out 2s;
}