.main {
  width: 100%;
  height: 100%;
  position: relative;
}

.segunda-sessao {
  width: 100%;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.relogio {
  position: relative;
}

.relogio:before {
  content: "";
  position: absolute;
  left: 40%;
  top: 51.5%;
  background: #57B8C8;
  border-radius: 50%;
  width: 18%;
  height: 9%;
  z-index: 3;
}

.ponteiros:before {
  content: "";
  z-index: 2;
  position: absolute;
  border-radius: 10px;
  width: 45%;
  height: 6%;
  background: white;
}

.ponteiros:after {
  content: "";
  z-index: 2;
  position: absolute;
  border-radius: 10px;
  width: 35%;
  height: 6%;
  background: #0A5A67;
}

.terceira-sessao {
  background: #03738E;
  margin-top: 0;
  padding: 3% 0;
}

.quinta-sessao {
  background: #E5772C;
  padding: 7.5% 0;
}

.quinta-sessao .eventos-cursos .aprendizado,
.quinta-sessao .eventos-cursos .pos-graduacao {
  width: 85%;
}

.footer {
  background: #E5772C;
  margin-top: 2px;
  width: 100%;
  position: relative;
}

.footer img {
  display: inline;
}

.footer .designa-retro,
.footer .ano-menor {
  width: 25%;
}

.footer .desenvolvimento {
  width: 40%;
  margin-left: 5%;
}