.main {
  width: 100%;
  height: 100%;
  position: relative;
}

.header {
  width: 100%;
  position: relative;
  margin: 0 0 -2px 0;
}

.header .left-cubes,
.header .right-cubes,
.header .top-cubes {
  position: absolute;
  width: 20%;
  opacity: .4;
}

.header .left-cubes {
  bottom: 5%;
  left: -7.5%;
}

.header .right-cubes {
  top: 2.5%;
  right: 1%;
}

.header .top-cubes {
  top: -15%;
  left: 10%;
}

.header .designa-logo {
  width: 30%;
  position: absolute;
  left: 50%;
  margin-left: -12.5%;
}

.header .bandeira-inferior {
  position: absolute;
  width: 73%;
  top: 61%;
  left: 13%;
}

.header .ano {
  width: 60%;
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 20%;
}

.header .bandeira-superior {
  position: absolute;
  width: 61%;
  top: 54%;
  left: 19.75%;
  z-index: 2;
}

.header .link-designa-site {
  position: absolute;
  top: 90%;
  left: 40%;
  font-size: 1.5em;
}

.segunda-sessao {
  width: 100%;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.clientes-atendidos {
  display: inline-block;
  width: 100%;
  position: relative;
  padding: 10% 0;
}

.clientes-atendidos,
.clientes-atendidos img {
  vertical-align: middle;
}

.clientes-atendidos .quantidade {
  width: 35%;
}

.clientes-atendidos .quantidade .contagem-clientes {
  font-size: 13em;
  margin: 0;
  color: #F1B703;
}

.clientes-atendidos .quantidade p.palavra-clientes {
  font-size: 3em;
  text-transform: uppercase;
}

.clientes-atendidos .quantidade p.atendidos {
  font-size: 1.7em;
}

.clientes-atendidos .clientes {
  width: 65%;
  padding: 5% 3% 5% 3%;
  float: left;
}

.clientes-atendidos .boneco-clientes {
  margin: 0 0 1% 1%;
  width: 6%;
  float: left;
  -webkit-filter: grayscale(100%) brightness(200%);
}

.clientes-atendidos .boneco-clientes:hover {
  -webkit-filter: grayscale(0%) brightness(100%);
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.clientes-atendidos .quantidade,
.horas-programacao .notebook {
  float: left;
}

.horas-programacao {
  position: relative;
  display: inline-block;
}

.horas-programacao .horas {
  width: 75%;
  float: left;
}

.horas-programacao .horas h1 {
  color: white;
  font-size: 7em;
  margin: 0;
}

.horas-programacao .horas span {
  color: #F1B703;
}

.horas-programacao .horas .relogio,
.terceira-sessao .hackatons .relogio {
  position: relative;
}

.horas-programacao .horas .relogio:before,
.terceira-sessao .hackatons .relogio:before {
  content: "";
  position: absolute;
  left: 40%;
  top: 51.5%;
  background: #57B8C8;
  border-radius: 50%;
  width: 18%;
  height: 9%;
  z-index: 3;
}

.horas-programacao .horas .ponteiros:before,
.terceira-sessao .hackatons .ponteiros:before {
  content: "";
  z-index: 2;
  position: absolute;
  border-radius: 10px;
  width: 45%;
  height: 6%;
  background: white;
}

.horas-programacao .horas .ponteiros:after,
.terceira-sessao .hackatons .ponteiros:after {
  content: "";
  z-index: 2;
  position: absolute;
  border-radius: 10px;
  width: 35%;
  height: 6%;
  background: #0A5A67;
}

.horas-programacao .programacao {
  width: 25%;
  margin-top: 4%;
  float: left;
  text-align: left;
  text-transform: uppercase;
}

.horas-programacao .programacao p {
  font-size: 2em;
}

.horas-programacao .partidas-futebol {
  float: right;
}

.horas-programacao .qtd-horas {
  width: 100%;
}

.horas-programacao .notebook {
  width: 30%;
  margin-top: 5%;
}

.horas-programacao .partidas-futebol {
  width: 70%;
}

.terceira-sessao {
  background: #03738E;
  margin-top: 0;
  padding: 3% 0;
}

.terceira-sessao .projetos {
  position: relative;
}

.terceira-sessao .projetos .qts-projetos {
  position: relative;
  display: inline-block;
}

.terceira-sessao .projetos .qts-projetos p {
  font-size: 5em;
  color: #F1B703;
  text-shadow: .05em .05em #005677;
  z-index: 2;
  position: relative;
}

.terceira-sessao .projetos .qts-projetos .prancheta {
  width: 20%;
  position: absolute;
  top: -25%;
  right: 0;
  z-index: 1;
  display: none;
}

.terceira-sessao .projetos .projetos-no-ano {
  padding: 10% 0;
  position: relative;
  display: none;
}

.terceira-sessao .projetos .projetos-ano img {
  width: 50%;
  margin-left: 20%;
  position: relative;
  z-index: 2;
}

.terceira-sessao .projetos .projetos-ano figcaption {
  margin: -8% 0 0 4%;
  font-size: 4em;
}

.terceira-sessao .projetos .repositorios-publicos {
  background: #0A6372;
  border-radius: 2em;
  padding: 1.5% 3%;
  position: absolute;
  top: 9%;
  left: 25%;
  display: none;
}

.terceira-sessao .projetos .repositorios-publicos h1 {
  font-size: 7em;
  margin: 0;
  color: #F1B702;
  text-shadow: .025em .025em #E4A104;
}

.terceira-sessao .projetos .repositorios-publicos .repositorios {
  font-size: 1.5em;
  color: white;
}

.terceira-sessao .projetos .repositorios-publicos .publicos {
  color: #F1B702;
  font-size: 1.5em;
  text-transform: uppercase;
}

.terceira-sessao .projetos .pontilhado-publico {
  width: 20%;
  position: absolute;
  top: 30%;
  right: 58.5%;
  border: dashed .15em #F1B702;
}

.terceira-sessao .projetos .github img {
  width: 7.5%;
  position: absolute;
  left: 15%;
  top: 20%;
  display: none;
}

.terceira-sessao .projetos .github figcaption {
  position: absolute;
  top: 25%;
  left: 7.5%;
  font-size: 1.5em;
  display: none;
}

.terceira-sessao .projetos .do-github {
  height: 35%;
  border: dashed .15em #F1B702;
  position: absolute;
  left: 18.5%;
  top: 37.5%;
  display: none;
}

.terceira-sessao .projetos .conexao-repositorio {
  width: 30%;
  position: absolute;
  left: 10%;
  top: 75%;
  display: none;
}

.terceira-sessao .projetos .para-o-bitbucket-h {
  width: 45%;
  border: dashed .15em #28B2C9;
  position: absolute;
  left: 40%;
  top: 97.5%;
  z-index: 1;
  display: none;
}

.terceira-sessao .projetos .para-o-bitbucket-v {
  height: 45%;
  border: dashed .15em #28B2C9;
  position: absolute;
  right: 15%;
  bottom: 2.5%;
  z-index: 1;
  display: none;
}

.terceira-sessao .projetos .bitbucket img {
  width: 7.5%;
  position: absolute;
  right: 11%;
  top: 40%;
  z-index: 2;
  display: none;
}

.terceira-sessao .projetos .bitbucket figcaption {
  position: absolute;
  top: 35%;
  right: 10.5%;
  font-size: 1.5em;
  z-index: 1;
  display: none;
}

.terceira-sessao .projetos .pontilhado-privado {
  width: 20%;
  position: absolute;
  top: 48%;
  right: 15%;
  border: dashed .15em #28B2C9;
  z-index: 1;
  display: none;
}

.terceira-sessao .projetos .repositorios-privados {
  background: #0A6372;
  border-radius: 2em;
  padding: 1.5% 3%;
  position: absolute;
  top: 27.5%;
  right: 17.5%;
  display: none;
}

.terceira-sessao .projetos .repositorios-privados h1 {
  font-size: 7em;
  margin: 0;
  color: #22A5BB;
  text-shadow: .025em .025em #2388A5;
}

.terceira-sessao .projetos .repositorios-privados .repositorios {
  font-size: 1.5em;
  color: white;
}

.terceira-sessao .projetos .repositorios-privados .privados {
  color: #22A5BB;
  font-size: 1.5em;
  text-transform: uppercase;
}

.terceira-sessao .projetos .explicacao-repositorio p {
  color: white;
  padding: 0 5%;
}

.terceira-sessao .projetos .explicacao-repositorio {
  margin-top: 5%;
  display: none;
}

.terceira-sessao .tecnologias {
  padding-bottom: 45%;
  position: relative;
}

.terceira-sessao .tecnologias .tecnologias-header {
  display: inline-block;
  width: 100%;
}

.terceira-sessao .tecnologias .tecnologias-header h1 {
  font-size: 4em;
  color: #3AC9D8;
  text-shadow: -.025em .025em #F1B703;
  margin: 0;
  display: none;

}

.terceira-sessao .tecnologias .tecnologias-header .divisoria {
  height: 2em;
  width: 2px;
  background: #1E9CCD;
  display: none;
  margin: 0 1em;
}

.terceira-sessao .tecnologias .tecnologias-header p.desenvolver {
  color: white;
  display: inline-block;
  font-size: 1.5em;
  width: 40%;
  text-align: left;
}

.terceira-sessao .tecnologias .sistemas {
  margin: 5% auto;
  width: 90%;
}

.terceira-sessao .tecnologias .sistemas .sistemas-web,
.terceira-sessao .tecnologias .sistemas .sistemas-desktop {
  position: relative;
}

.terceira-sessao .tecnologias .sistemas .sistemas-web .web,
.terceira-sessao .tecnologias .sistemas .sistemas-desktop .desktop {
  position: absolute;
  display: none;
}

.terceira-sessao .tecnologias .sistemas .sistemas-web h2,
.terceira-sessao .tecnologias .sistemas p {
  color: #F1B703;
  display: none;
}

.terceira-sessao .tecnologias .sistemas .sistemas-web .web {
  right: -10%;
  bottom: -35%;
}

.terceira-sessao .tecnologias .sistemas h2 {
  font-size: 8em;
  text-shadow: -.025em 0.025em #E19B0D;
  margin: 0;
}

.terceira-sessao .tecnologias .sistemas p {
  font-size: 2.5em;
}

.terceira-sessao .tecnologias .sistemas .sistemas-web,
.terceira-sessao .tecnologias .sistemas .grafico,
.terceira-sessao .tecnologias .sistemas .sistemas-desktop {
  float: left;
  width: 33.33%;
}

.terceira-sessao .tecnologias .sistemas .sistemas-web .pontilhado-web,
.terceira-sessao .tecnologias .sistemas .sistemas-desktop .pontilhado-desktop {
  border: dashed .25em #3ECFDE;
  position: absolute;
  top: 110%;
  left: 50%;
  width: .1em;
  display: none;
}

.terceira-sessao .tecnologias .sistemas .sistemas-web .pontilhado-web {
  height: 120%;
}

.terceira-sessao .tecnologias .sistemas .sistemas-desktop .pontilhado-desktop {
  height: 40%;
}

.terceira-sessao .tecnologias .sistemas .fim-pontilhado {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  background: #3ECFDE;
  border-radius: 50%;
  left: -.75em;
  display: none;
}

.terceira-sessao .tecnologias .sistemas .sistemas-web .fim-pontilhado {
  bottom: -15%;
}

.terceira-sessao .tecnologias .sistemas .sistemas-desktop .fim-pontilhado {
  bottom: -50%;
}

.terceira-sessao .tecnologias .sistemas .grafico .segundo-circulo {
  background: #EFA602;
  border-radius: 50%;
  height: 75%;
  position: absolute;
  top: 12.5%;
  left: 12.5%;
  width: 75%;
}

.terceira-sessao .tecnologias .sistemas .grafico .terceiro-circulo {
  background: #03738E;
  border-radius: 50%;
  height: 60%;
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  z-index: 2;
}

.grafico { 
  margin-top: 5%;
  position: relative;
  padding-left: 4.5%;
  display: none;
} 

.fundo-grafico { 
  background-color: #F1B703; 
  position: absolute;
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  -o-border-radius: 50%; 
  border-radius: 50%; 
} 

.fundo-grafico:hover {
  box-shadow: inset 5px 5px 10px #fff, inset 5px -5px 10px #fff;
}

.pizza { 
  position: absolute; 
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  -o-border-radius: 50%; 
  border-radius: 50%;
  display: none;
}

.pizza:hover {
  box-shadow: inset 10px 10px 10px #fff;
} 

.fixar-fatia { 
  position: absolute; 
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  -o-border-radius: 50%; 
  border-radius: 50%; 
} 

#fatia .pizza { 
  opacity: .6;
  background-color: #F37902; 
  -webkit-transform:rotate(120deg); 
  -moz-transform:rotate(120deg); 
  -o-transform:rotate(120deg); 
  transform:rotate(120deg); 
}

.terceira-sessao .tecnologias .sistemas .sistemas-desktop h2,
.terceira-sessao .tecnologias .sistemas .sistemas-desktop p {
  color: #F37902;
  text-shadow: -.025em 0.025em #D77710;
  display: none;
}

.terceira-sessao .tecnologias .sistemas .sistemas-desktop .desktop {
  left: -10%;
  bottom: -35%;
}

.terceira-sessao .tecnologias .sistemas figure {
  float: left;
  display: none;
}

.terceira-sessao .tecnologias .sistemas .linguagens-web {
  position: absolute;
  top: 90%;
  left: 0;
  text-align: left;
  padding: 0 5%;
  width: 100%;
  min-height: 15%;
}

.terceira-sessao .tecnologias .sistemas .linguagens-web figure {
  margin-right: 2.5%;
  width: 10%;
}

.terceira-sessao .tecnologias .sistemas .linguagens-web img {
  width: 60%;
}

.terceira-sessao .tecnologias .sistemas .linguagens-web figure figcaption {
  position: relative;
}

.terceira-sessao .tecnologias .sistemas .linguagens-web .ruby figcaption,
.terceira-sessao .tecnologias .sistemas .linguagens-web .css3 figcaption,
.terceira-sessao .tecnologias .sistemas .linguagens-web .mysql figcaption {
  left: 15%;
}

.terceira-sessao .tecnologias .sistemas .linguagens-web .jscript figcaption {
  left: 22.5%;
}

.terceira-sessao .tecnologias .sistemas .linguagens-web .html5 figcaption {
  left: 12.5%;
}

.terceira-sessao .tecnologias .sistemas .linguagens-desktop {
  position: absolute;
  right: 5%;
  top: 80%;
  text-align: left;
  display: inline-block;
  padding: 0 5%;
  width: 25%;
}

.terceira-sessao .tecnologias .sistemas .linguagens-desktop figure {
  width: 30%;
  margin-right: 15%;
}


.terceira-sessao .tecnologias .sistemas .linguagens-desktop img {
  width: 100%;
}

.terceira-sessao .hackatons {
  margin-top: 10%;
  min-height: 60em;
  position: relative;
}

.terceira-sessao .hackatons .maratona {
  position: relative;
  min-height: 5em;
}

.terceira-sessao .hackatons .maratona .pontilhado-esquerda,
.terceira-sessao .hackatons .maratona .pontilhado-direita {
  border: dashed .25em #38C6D5;
  position: absolute;
  top: 50%;
  width: 17.5%;
  display: none;
}

.terceira-sessao .hackatons .maratona .pontilhado-esquerda {
  left: 10%;
}

.terceira-sessao .hackatons .maratona img {
  width: 40%;
  display: none;
}

.terceira-sessao .hackatons .maratona .pontilhado-direita {
  border: dashed .25em #38C6D5;
  position: absolute;
  right: 10%;
  width: 17.5%;
}

.terceira-sessao .hackatons .maratona figcaption {
  font-size: 1.75em;
  color: #38C5D5;
  display: none;
}

.terceira-sessao .hackatons h1 {
  font-size: 10em;
  margin: .25em 10% 0 10%;
  display: none;
  float: left;
  text-align: left;
}

.terceira-sessao .hackatons h1 span {
  color: #F1B703;
  text-shadow: 0 .025em #1FA3BC, 0.05em .05em #087F98;
}

.terceira-sessao .hackatons h1 span.fixar-seta {
  position: relative;
}

.terceira-sessao .hackatons .tempo-suficiente {
  color: white;
  text-align: left;
  margin-left: 10%;
  font-size: 2em;
  letter-spacing: -.05em;
  font-family: "Proxima Nova";
  width: 50%;
  display: none;
}

.terceira-sessao .hackatons .seta {
  width: 20%;
  position: absolute;
  top: 0;
  right: -35%;
  display: none;
}

.terceira-sessao .hackatons .esteira {
  background: #1789A3;
  width: 75%;
  left: 12.5%;
  bottom: 4em;
  border: solid 1em #26AFC6;
  z-index: 2;
  position: absolute;
  height: 5em;
  border-radius: 10em;
  display: none;
}

.terceira-sessao .hackatons .esteira .circulos {
  width: 90%;
  position: relative;
  top: 25%;
}

.terceira-sessao .hackatons .base {
  position: absolute;
  bottom: 0;
  width: 70%;
  left: 15%;
  display: none;
}

.terceira-sessao .hackatons .garra-esquerda {
  position: absolute;
  left: -15%;
  bottom: 20%;
  z-index: 2;
  width: 5%;
  display: none;
}

.terceira-sessao .hackatons .garra-esquerda .braco {
  position: absolute;
  width: 600%;
  left: -500%;
  top: 40%;
  border-radius: 10em;
  height: .75em;
  background: #26AFC6;
}

.terceira-sessao .hackatons .garra-esquerda img {
  width: 90%;
  position: relative;
  left: 80%;
}

.terceira-sessao .hackatons .garra-direita {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 8%;
  z-index: 2;
  display: none;
}

.terceira-sessao .hackatons .garra-direita .coluna {
  width: 90%;
  position: relative;
}

.terceira-sessao .hackatons .garra-direita .garra {
  position: absolute;
  -webkit-transform: rotate(90deg);
  right: 200%;
  width: 50%;
  top: 10%;
}

.terceira-sessao .hackatons .garra-direita .armadura {
  position: absolute;
  right: 150%;
  width: 150%;
  z-index: 2;
  top: 18%;
}

.terceira-sessao .hackatons .garra-direita .braco-h {
  position: absolute;
  width: 220%;
  right: 10%;
  border-radius: 10em;
  top: 5%;
  height: .75em;
  background: #26AFC6;
}

.terceira-sessao .hackatons .garra-direita .braco-v {
  position: absolute;
  height: 9%;
  right: 219.5%;
  border-radius: 10em;
  top: 5.5%;
  width: .75em;
  background: #26AFC6;
}

.terceira-sessao .hackatons .fundo img {
  width: 75%;
  position: absolute;
  left: 12.5%;
  bottom: 0;
  opacity: .5;
  display: none;
}

.terceira-sessao .premios-hackatons {
  margin-top: 5%;
}

.terceira-sessao .premios-hackatons .premios {
  width: 90%;
  margin-bottom: 5%;
}

.terceira-sessao .premios-hackatons .youtube-developer {
  width: 80%;
}

.terceira-sessao .premios-hackatons .divisoria {
  background: #15859C;
  width: 50%;
  height: 2px;
  margin: 2.5% auto;
}

.terceira-sessao .premios-hackatons .google-chrome {
  width: 75%;
}

.quarta-sessao img {
  width: 100%;
}

.quarta-sessao .designa-team {
  margin: 2.5% 0 5% 0;
}

.quinta-sessao {
  background: #E5772C;
  padding: 7.5% 0;
}

.quinta-sessao .eventos-cursos .aprendizado,
.quinta-sessao .eventos-cursos .pos-graduacao {
  width: 85%;
}

.quinta-sessao .express-projects .express {
  width: 100%;
}

.quinta-sessao .express-projects p {
  padding: 0 7.5%;
  text-align: left;
  color: white;
  font-size: 1.2em;
}

.footer {
  background: #E5772C;
  margin-top: 2px;
  width: 100%;
  position: relative;
}

.footer img {
  display: inline;
}

.footer .designa-retro,
.footer .ano-menor {
  width: 25%;
}

.footer .desenvolvimento {
  width: 40%;
  margin-left: 5%;
}