.main {
  width: 100%;
  height: 100%;
  position: relative;
}

.header {
  width: 100%;
  position: relative;
  margin: 0 0 -2px 0;
}

.header .left-cubes,
.header .right-cubes,
.header .top-cubes {
  position: absolute;
  width: 20%;
  opacity: .4;
}

.header .left-cubes {
  bottom: 5%;
  left: -7.5%;
}

.header .right-cubes {
  top: 2.5%;
  right: 1%;
}

.header .top-cubes {
  top: -15%;
  left: 10%;
}

.header .designa-logo {
  width: 30%;
  position: absolute;
  left: 50%;
  margin-left: -12.5%;
}

.header .bandeira-inferior {
  position: absolute;
  width: 73%;
  top: 61%;
  left: 13%;
}

.header .ano {
  width: 60%;
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 20%;
}

.header .bandeira-superior {
  position: absolute;
  width: 61%;
  top: 54%;
  left: 19.75%;
  z-index: 2;
}

.header a {
  position: absolute;
  top: 90%;
  left: 42.5%;
  font-size: 1.5em;
}

.segunda-sessao {
  width: 100%;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.clientes-atendidos {
  display: inline-block;
  width: 100%;
}

.clientes-atendidos,
.clientes-atendidos img {
  vertical-align: middle;
}

.clientes-atendidos .quantidade {
  width: 35%;
}

.clientes-atendidos .quantidade h1,
.clientes-atendidos .quantidade p {
  font-family: "Varela Round Regular";
}

.clientes-atendidos .quantidade .contagem-clientes {
  font-size: 13em;
  margin: 0;
  color: #F1B703;
}

.clientes-atendidos .quantidade p.palavra-clientes {
  font-size: 3em;
  text-transform: uppercase;
}

.clientes-atendidos .quantidade p.atendidos {
  font-size: 1.7em;
}

.clientes-atendidos .clientes {
  width: 65%;
  padding: 5% 3% 5% 3%;
  float: left;
}

.clientes-atendidos .boneco-clientes {
  margin: 0 0 1% 1%;
  width: 6%;
  float: left;
  -webkit-filter: grayscale(100%) brightness(200%);
}

.clientes-atendidos .boneco-clientes:hover {
  -webkit-filter: grayscale(0%) brightness(100%);
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.clientes-atendidos .quantidade,
.horas-programacao .notebook {
  float: left;
}

.horas-programacao h1,
.horas-programacao p,
.horas-programacao span {
  font-family: "Varela Round Regular";
}

.horas-programacao .horas {
  width: 75%;
  float: left;
}

.horas-programacao .horas h1 {
  color: white;
  font-size: 8em;
  margin: 0;
}

.horas-programacao .horas span {
  color: #F1B703;
}

.horas-programacao .horas .relogio {
  position: relative;
}

.horas-programacao .horas .relogio:before {
  content: "";
  position: absolute;
  left: 40%;
  top: 51.5%;
  background: #57B8C8;
  border-radius: 50%;
  width: 18%;
  height: 9%;
  z-index: 3;
}

.horas-programacao .horas .ponteiros:before {
  content: "";
  z-index: 2;
  position: absolute;
  border-radius: 10px;
  width: 45%;
  height: 6%;
  background: white;
}

.horas-programacao .horas .ponteiros:after {
  content: "";
  z-index: 2;
  position: absolute;
  border-radius: 10px;
  width: 35%;
  height: 6%;
  background: #0A5A67;
}

.horas-programacao .programacao {
  width: 25%;
  margin-top: 4%;
  float: left;
  text-align: left;
  text-transform: uppercase;
}

.horas-programacao .programacao p {
  font-size: 2.25em;
}

.horas-programacao .partidas-futebol {
  float: right;
}

.horas-programacao .qtd-horas {
  width: 100%;
}

.horas-programacao .notebook {
  width: 30%;
  margin-top: 5%;
}

.horas-programacao .partidas-futebol {
  width: 70%;
}

.terceira-sessao {
  background: #03738E;
  margin-top: 0;
  padding: 3% 0;
}

.terceira-sessao .projetos .qts-projetos {
  width: 50%;
  margin-bottom: 5%;
}

.terceira-sessao .projetos .repositorios {
  width: 80%;
}

.terceira-sessao .projetos p {
  color: white;
  padding: 0 5%;
}

.terceira-sessao .projetos .explicacao-repositorio {
  margin-top: 5%;
}

.terceira-sessao .tecnologias .descricao-tecnologias {
  width: 70%;
}

.terceira-sessao .tecnologias .sistemas {
  margin-top: 5%;
  width: 70%;
}

.terceira-sessao .hackatons {
  margin-top: 5%;
}

.terceira-sessao .hackatons .maratona {
  width: 80%;
}

.terceira-sessao .hackatons .iron-man {
  width: 100%;
}

.terceira-sessao .premios-hackatons {
  margin-top: 5%;
}

.terceira-sessao .premios-hackatons .premios {
  width: 90%;
  margin-bottom: 5%;
}

.terceira-sessao .premios-hackatons .youtube-developer {
  width: 80%;
}

.terceira-sessao .premios-hackatons .divisoria {
  background: #15859C;
  width: 50%;
  height: 2px;
  margin: 2.5% auto;
}

.terceira-sessao .premios-hackatons .google-chrome {
  width: 75%;
}

.quarta-sessao img {
  width: 100%;
}

.quarta-sessao .designa-team {
  margin: 2.5% 0 5% 0;
}

.quinta-sessao {
  background: #E5772C;
  padding: 7.5% 0;
}

.quinta-sessao .eventos-cursos .aprendizado,
.quinta-sessao .eventos-cursos .pos-graduacao {
  width: 85%;
}

.quinta-sessao .express-projects .express {
  width: 100%;
}

.quinta-sessao .express-projects p {
  padding: 0 7.5%;
  text-align: left;
  color: white;
  font-size: 1.2em;
}

.footer {
  background: #E5772C;
  margin-top: 2px;
  width: 100%;
  position: relative;
}

.footer img {
  display: inline;
}

.footer .designa-retro,
.footer .ano-menor {
  width: 25%;
}

.footer .desenvolvimento {
  width: 40%;
  margin-left: 5%;
}