*,
html,
body {
  margin: 0;
  outline: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Varela Round Regular";
  color: #05758F;
  font-weight: lighter;
}

hr {
  clear: both;
  height: 1px;
  border: none;
  background: white;
  width: 100%;
  margin: 5% 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
}

figcaption {
  color: white;
}

section,
.header,
.footer {
  padding: 3% 7.5%;
  background: #59CDD3;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.pull-left {
  float: left;
}

.texto-com-sombra {
  text-shadow: -0.01em 0.05em #169AA0, 0.01em 0.09em #52B8BE;
}

.continuar {
  position: absolute;
  right: 1.5%;
  z-index: 2;
  bottom: 5%;
}

.voltar-ao-topo {
  position: fixed;
  left: -5%;
  top: 50%;
  background: white;
  -webkit-transform: rotate(90deg);
  padding: 0.5em 1em;
  z-index: 1;
  display: none;
}

.voltar-ao-topo:hover {
  background: #05758F;
}

span#typed-cursor {
  display: none;
}

/*responsividade*/

@media (min-width: 320px) {
    html {
      font-size: 33%;
    }


    .imagem-continuar {
      width: 20%;
    }

    .terceira-sessao .projetos {
      min-height: 281px;
    }

    .terceira-sessao .tecnologias .sistemas .grafico { 
      height: 94px;
    } 

    .terceira-sessao .tecnologias .sistemas .fundo-grafico { 
      width: 94px; 
      height: 94px; 
    } 

    .terceira-sessao .tecnologias .sistemas .pizza { 
      width: 94px; 
      height: 94px; 
      clip: rect(0px, 47px, 94px, 0px); 
    } 

    .terceira-sessao .tecnologias .sistemas .fixar-fatia { 
      width: 94px; 
      height: 94px; 
      clip: rect(0px, 94px, 94px, 47px); 
    } 
}

@media (min-width: 480px) {
    html {
      font-size: 50%;
    }

    .imagem-continuar {
      width: 40%;
    }

    .terceira-sessao .projetos {
      min-height: 421px;
    }

    .terceira-sessao .tecnologias .sistemas .grafico { 
      height: 141px;
    } 

    .terceira-sessao .tecnologias .sistemas .fundo-grafico { 
      width: 141px; 
      height: 141px; 
    } 

    .terceira-sessao .tecnologias .sistemas .pizza { 
      width: 141px; 
      height: 141px; 
      clip: rect(0px, 70px, 141px, 0px); 
    } 

    .terceira-sessao .tecnologias .sistemas .fixar-fatia { 
      width: 141px; 
      height: 141px; 
      clip: rect(0px, 141px, 141px, 70px); 
    }
}

@media (min-width: 600px) {
    html {
      font-size: 67%;
    }

    .imagem-continuar {
      width: 60%;
    }

    .terceira-sessao .projetos {
      min-height: 526px;
    }

    .terceira-sessao .tecnologias .sistemas .grafico { 
      height: 176px;
    } 

    .terceira-sessao .tecnologias .sistemas .fundo-grafico { 
      width: 176px; 
      height: 176px; 
    } 

    .terceira-sessao .tecnologias .sistemas .pizza { 
      width: 176px; 
      height: 176px; 
      clip: rect(0px, 88px, 176px, 0px); 
    } 

    .terceira-sessao .tecnologias .sistemas .fixar-fatia { 
      width: 176px; 
      height: 176px; 
      clip: rect(0px, 176px, 176px, 88px); 
    } 
}

@media (min-width: 768px) {
    html {
      font-size: 83%;
    }

    .imagem-continuar {
      width: 80%;
    }

    .terceira-sessao .projetos {
      min-height: 674px;
    }

    .terceira-sessao .tecnologias .sistemas .grafico { 
      height: 225px;
    } 

    .terceira-sessao .tecnologias .sistemas .fundo-grafico { 
      width: 225px; 
      height: 225px; 
    } 

    .terceira-sessao .tecnologias .sistemas .pizza { 
      width: 225px; 
      height: 225px; 
      clip: rect(0px, 112.5px, 225px, 0px); 
    } 

    .terceira-sessao .tecnologias .sistemas .fixar-fatia { 
      width: 225px; 
      height: 225px; 
      clip: rect(0px, 225px, 225px, 112.5px); 
    } 
}

@media (min-width: 1024px) {
    html {
      font-size: 100%;
    }

    .imagem-continuar {
      width: 100%;
    }

    .terceira-sessao .projetos {
      min-height: 900px;
    }

    .terceira-sessao .tecnologias .sistemas .grafico { 
      height: 300px;
    } 

    .terceira-sessao .tecnologias .sistemas .fundo-grafico { 
      width: 300px; 
      height: 300px; 
    } 

    .terceira-sessao .tecnologias .sistemas .pizza { 
      width: 300px; 
      height: 300px; 
      clip: rect(0px, 150px, 300px, 0px); 
    } 

    .terceira-sessao .tecnologias .sistemas .fixar-fatia { 
      width: 300px; 
      height: 300px; 
      clip: rect(0px, 300px, 300px, 150px); 
    }
}
