*,
html,
body {
  margin: 0;
  outline: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Proxima Nova";
  color: #05758F;
}

hr {
  clear: both;
  height: 1px;
  border: none;
  background: white;
  width: 100%;
  margin: 5% 0;
}

p {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  width: 100%;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
}

section,
.header,
.footer {
  padding: 3% 7.5%;
  background: #59CDD3;
  text-align: center;
  display: inline-block;
}

.pull-left {
  float: left;
}

.texto-com-sombra {
  text-shadow: -0.01em 0.05em #169AA0, 0.01em 0.09em #52B8BE;
}

/*responsividade*/

@media (min-width: 320px) {
    html {
      font-size: 33%;
    }

    .header {
      height: 187px;
    }
}

@media (min-width: 480px) {
    html {
      font-size: 50%;
    }

    .header {
      height: 281px;
    }
}

@media (min-width: 600px) {
    html {
      font-size: 67%;
    }

    .header {
      height: 351px;
    }
}

@media (min-width: 768px) {
    html {
      font-size: 83%;
    }

    .header {
      height: 449px;
    }
}

@media (min-width: 1024px) {
    html {
      font-size: 100%;
    }

    .header {
      height: 600px;
    }
}
