.header {
  width: 100%;
  position: relative;
  margin: 0 0 -2px 0;
  min-height: 37.5em;
}

.header .left-cubes,
.header .right-cubes,
.header .top-cubes {
  position: absolute;
  width: 20%;
  opacity: .4;
}

.header .left-cubes {
  bottom: 5%;
  left: -7.5%;
}

.header .right-cubes {
  top: 2.5%;
  right: 1%;
}

.header .top-cubes {
  top: -15%;
  left: 10%;
}

.header .designa-logo {
  width: 30%;
  position: absolute;
  left: 50%;
  margin-left: -12.5%;
}

.header .bandeira-inferior {
  position: absolute;
  width: 73%;
  top: 61%;
  left: 13%;
}

.header .ano {
  width: 60%;
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 20%;
}

.header .bandeira-superior {
  position: absolute;
  width: 61%;
  top: 54%;
  left: 19.75%;
  z-index: 2;
}

.header .link-designa-site {
  position: absolute;
  top: 90%;
  left: 40%;
  font-size: 1.5em;
}