.terceira-sessao .hackathons {
  margin-top: 10%;
  min-height: 60em;
  position: relative;
}

.terceira-sessao .hackathons .maratona {
  position: relative;
  min-height: 5em;
}

.terceira-sessao .hackathons .maratona .pontilhado-esquerda,
.terceira-sessao .hackathons .maratona .pontilhado-direita {
  border: dashed .25em #38C6D5;
  position: absolute;
  top: 50%;
  width: 17.5%;
  display: none;
}

.terceira-sessao .hackathons .maratona .pontilhado-esquerda {
  left: 10%;
}

.terceira-sessao .hackathons .maratona img {
  width: 40%;
  display: none;
}

.terceira-sessao .hackathons .maratona .pontilhado-direita {
  border: dashed .25em #38C6D5;
  position: absolute;
  right: 10%;
  width: 17.5%;
}

.terceira-sessao .hackathons .maratona figcaption {
  font-size: 1.75em;
  color: #38C5D5;
  display: none;
}

.terceira-sessao .hackathons h1 {
  font-size: 10em;
  margin: .25em 10% 0 10%;
  display: none;
  float: left;
  text-align: left;
}

.terceira-sessao .hackathons h1 span {
  color: #F1B703;
  text-shadow: 0 .025em #1FA3BC, 0.05em .05em #087F98;
}

.terceira-sessao .hackathons h1 span.fixar-seta {
  position: relative;
}

.terceira-sessao .hackathons .tempo-suficiente {
  color: white;
  text-align: left;
  margin-left: 10%;
  font-size: 2em;
  letter-spacing: -.05em;
  font-family: "Proxima Nova";
  width: 50%;
  display: none;
}

.terceira-sessao .hackathons .seta {
  width: 20%;
  position: absolute;
  top: 0;
  right: -35%;
  display: none;
}

.terceira-sessao .hackathons .esteira {
  background: #1789A3;
  width: 75%;
  left: 12.5%;
  bottom: 4em;
  border: solid 1em #26AFC6;
  z-index: 2;
  position: absolute;
  height: 5em;
  border-radius: 10em;
  display: none;
}

.terceira-sessao .hackathons .esteira .circulos {
  width: 90%;
  position: relative;
  top: 25%;
}

.terceira-sessao .hackathons .base {
  position: absolute;
  bottom: 0;
  width: 70%;
  left: 15%;
  display: none;
}

.terceira-sessao .hackathons .garra-esquerda {
  position: absolute;
  left: -15%;
  bottom: 20%;
  z-index: 2;
  width: 5%;
  display: none;
}

.terceira-sessao .hackathons .garra-esquerda .braco {
  position: absolute;
  width: 600%;
  left: -500%;
  top: 40%;
  border-radius: 10em;
  height: .75em;
  background: #26AFC6;
}

.terceira-sessao .hackathons .garra-esquerda img {
  width: 90%;
  position: relative;
  left: 80%;
}

.terceira-sessao .hackathons .garra-direita {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 8%;
  z-index: 2;
  display: none;
}

.terceira-sessao .hackathons .garra-direita .coluna {
  width: 90%;
  position: relative;
}

.terceira-sessao .hackathons .garra-direita .garra {
  position: absolute;
  -webkit-transform: rotate(90deg);
  right: 200%;
  width: 50%;
  top: 10%;
}

.terceira-sessao .hackathons .garra-direita .armadura {
  position: absolute;
  right: 150%;
  width: 150%;
  z-index: 2;
  top: 18%;
}

.terceira-sessao .hackathons .garra-direita .braco-h {
  position: absolute;
  width: 220%;
  right: 10%;
  border-radius: 10em;
  top: 5%;
  height: .75em;
  background: #26AFC6;
}

.terceira-sessao .hackathons .garra-direita .braco-v {
  position: absolute;
  height: 9%;
  right: 219.5%;
  border-radius: 10em;
  top: 5.5%;
  width: .75em;
  background: #26AFC6;
}

.terceira-sessao .hackathons .fundo img {
  width: 75%;
  position: absolute;
  left: 12.5%;
  bottom: 0;
  opacity: .5;
  display: none;
}